{% extends 'base.html.twig' %}

{% block title %}Post{% endblock %}

{% block body %}
    <h1>{{ post.title }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id en base de donnée</th>
                <td>{{ post.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ post.title }}</td>
            </tr>
            <tr>
                <th>Lien vers le contenu</th>
                <td><a class="" target="_blank" href="http://localhost:8080/post/read/{{ post.id }}">Cliquez ici</a>
</td>
            </tr>
            <tr>
                <th>Nombre de vues</th>
                <td>{{ post.nbViews }}</td>
            </tr>
            <tr>
                <th>Nombre de likes</th>
                <td>{{ post.nbLikes }}</td>
            </tr>
            <tr>
                <th>Date de publication</th>
                <td>{{ post.publishedAt ? post.publishedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Date de création</th>
                <td>{{ post.createdAt ? post.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Status de publication</th>
                <td>
                    {% if post.status == 0 %}Sauvegardé
                    {% elseif post.status == 1 %}En attente de publication
                    {% elseif post.status == 2 %}Publié
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Auteur</th>
                <td>{{ post.user.username }}</td>
            </tr>

        </tbody>
    </table>

    <a class="btn btn-sm btn-primary mt-3 mb-3 bi bi-skip-backward" href="{{ path('app_post_index') }}"> Retour</a>

    <a class="btn btn-sm btn-warning mt-3 mb-3 bi bi-pencil-square" href="{{ path('app_post_edit', {'id': post.id}) }}"> Modifier</a>

    {{ include('post/_delete_form.html.twig') }}
{% endblock %}
